/* Logo */

body {
    background: var(--color-main);
}

.logo-ss {
    text-align: center;
    margin-top: 60px;
}

.logo-ss:hover {
    filter: drop-shadow(0.20em 0.40em 0.20em var(--color-text));
}

.logo-ss img {
    height: 200px;
    object-fit: cover;
}

/* End Logo */

/* Section 1 */
.section1__about {
    margin-top: 60px;
    width: 100%;
}

.section1__about__image {
    text-align: center;
}

.section1__about__image img {
    width: 100%;
    object-fit: cover;
}


.section1__about__desc {
    margin-top: 20px;
    font-size: 18px;
    color: #FFF;
    line-height: 30px;
    /* white-space: pre-wrap; */
}

/* End section 1 */

/* Section2 */
.section2__about {
    margin-top: 80px;
}

.section2__about h2 {
    font-size: 42px;
    font-weight: 900;
    color: #FFF;
    text-align: center;
    text-transform: uppercase;
    margin: 0;
}

.section2__about__list {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.section2__about__item {
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.section2__about__image {
    width: 250px;
    height: 350px;
}

.section2__about__image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section2__about__name {
    padding: 10px 15px;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    background-color: #30302F;
}
/* End Section2 */