.section1 {
    background-image: url(https://scontent.fsgn2-9.fna.fbcdn.net/v/t1.6435-9/162329670_303044191417628_2051451618967829976_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=b895b5&_nc_ohc=wJ1ZT9qX2PsQ7kNvgG0nIg0&_nc_zt=23&_nc_ht=scontent.fsgn2-9.fna&_nc_gid=A85NE1Nj4Q9joahznqXt2lB&oh=00_AYBR-WIy_D4oFafNmiw9Nska9Iy1expFWgfeGIaC4K80AA&oe=6747D0ED);
    padding: 160px 0;
    background-size: contain;
    background-attachment: fixed;
    position: relative;
}

.section1::before {
    position: absolute;
    content: "";
    background: #26161626;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section1__wrap {
    width: 50%;
    position: relative;
    margin-top: -80px;
}

.section1__sub-title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.section1__title {
    color: #fff;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 10px;
}

.section1__desc {
    color: #ffffffa9;
    font-style: italic;
    font-weight: 500;
    margin-bottom: 20px;
}

.section1__button {
    display: flex;
    margin-top: 120px;
}

.button {
    text-decoration: none;
    display: inline-flex;
    padding: 16px 32px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-main);
    background: var(--color-highlight);
    border: 1px solid;

}

.button-highlight {
    background: var(--color-highlight);
    border-color: var(--color-highlight);
}

.button-highlight:hover {
    background-color: #FFF;
    border-color: var(--color-highlight);
}

.button-outline-highlight {
    margin-left: 16px;
    background: transparent;
    color: #FFF;
    border-color: #CCCCCC;
}

.button-outline-highlight:hover {
    color: var(--color-main);
    background: var(--color-highlight);
}
