.section1 {
    background-image: url(https://scontent.fsgn2-9.fna.fbcdn.net/v/t1.6435-9/162329670_303044191417628_2051451618967829976_n.jpg?_nc_cat=105&ccb=1-7&_nc_sid=b895b5&_nc_ohc=wJ1ZT9qX2PsQ7kNvgG0nIg0&_nc_zt=23&_nc_ht=scontent.fsgn2-9.fna&_nc_gid=A85NE1Nj4Q9joahznqXt2lB&oh=00_AYBR-WIy_D4oFafNmiw9Nska9Iy1expFWgfeGIaC4K80AA&oe=6747D0ED);
    padding: 160px 0;
    background-size: contain;
    background-attachment: fixed;
    position: relative;
}

.section1::before {
    position: absolute;
    content: "";
    background: #26161626;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section1__wrap {
    width: 50%;
    position: relative;
    margin-top: -100px;
}

.section1__sub-title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.section1__title {
    color: #fff;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 10px;
}

.section1__desc {
    color: #ffffffa9;
    font-style: italic;
    font-weight: 500;
}

.section1__button {
    display: flex;
    margin-top: 140px;
}

.button {
    text-decoration: none;
    display: inline-flex;
    padding: 16px 32px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-main);
    background: var(--color-highlight);
    border: 1px solid;
    transition: all 0.8s;

}

.button-highlight {
    background: var(--color-highlight);
    margin-right: 16px;
    border-color: var(--color-highlight);
}

.button-highlight:hover {
    background-color: #FFF;
    border-color: var(--color-highlight);
}

.button-outline-highlight {
    background: transparent;
    color: #FFF;
    border-color: #CCCCCC;
}

.button-outline-highlight:hover {
    color: var(--color-main);
    background: var(--color-highlight);
}

/* section2 */
.section2 {
    padding: 60px 0;
    background: var(--bg-1);
}

.section2__wrap {
    display: flex;
    align-items: center;
}

.section2__image {
    width: 45%;
    border-radius: 12px;
    overflow: hidden;
}

.section2__image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.section2__content {
    width: 50%;
    margin-left: 4%;
}

.section2__sub-title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 22px;
    color: var(--color-text);
}

.section2__title {
    font-size: 64px;
    font-weight: 700;
    color: var(--color-main);
    margin-bottom: 20px;
}

.section2__list {
    display: flex;
    margin-bottom: 30px;
}

.section2__item {
    display: inline-flex;
    flex-direction: column;
    width: 140px;
    height: 140px;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    border-radius: 12px;
    background: #FFF;
}

.section2__icon {
    font-size: 42px;
    color: var(--color-highlight);
    margin-bottom: 4px;
}

.section2__item span {
    font-size: 22px;
    color: var(--color-main);
}

.section2__desc {
    color: var(--color-text);
    font-weight: 500;
    margin-bottom: 30px;
}

.button-readmore {
    border: 2px solid;
    color: var(--color-main);
    filter: drop-shadow(0.10em 0.10em 0.1em var(--color-highlight));
}
/* End section2 */

/* Section 3 */
.section3 {
    background: var(--bg-1);
    padding: 40px 0;
}

.section3__wrap {
    display: flex;
    background: #FFF;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.section3__content {
    width: 45%;
    padding: 45px;
    margin-right: 10%;
}

.section3__title {
    font-size: 64px;
    font-weight: 700;
    color: var(--color-main);
}

.section3__desc {
    font-size: 16px;
    margin-bottom: 40px;
    color: var(--color-text);
}

.section3__image {
    width: 30%;
}

.section3__image img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    object-fit: cover;
    margin-top: -60px;
    margin-bottom: -5px;
}
/* End Section 3 */