/* Section 1 */
.section1 {
    background-image: url(https://topnguoinoitieng.com/storage/images/EzhB1BoyaN_1628614324.jpg);
    padding: 25vh 0;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    background-repeat: no-repeat;
}

.section1::before {
    position: absolute;
    content: "";
    background: #00000026;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.section1__wrap {
    width: 50%;
    position: relative;
    margin-top: -100px;
}

.section1__sub-title {
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.section1__title {
    color: #fff;
    font-size: 46px;
    font-weight: 700;
    margin-bottom: 10px;
}

.section1__desc {
    color: #ffffffa9;
    font-style: italic;
    font-weight: 500;
    margin-top: 160px;
}

.section1__button {
    display: flex;
    margin-top: 10px;
}

.button {
    text-decoration: none;
    display: inline-flex;
    padding: 16px 32px;
    border-radius: 8px;
    font-size: 18px;
    font-weight: 600;
    color: var(--color-main);
    background: var(--color-highlight);
    border: 1px solid;
    transition: all 0.8s;

}

.button-highlight {
    /* background: var(--color-highlight);
    border-color: var(--color-highlight); */
    margin-right: 16px;
    background-image: linear-gradient(to right, var(--color-highlight) 0%, #FFFFFF  51%, #e6dfd8  100%);
    background-size: 200% auto;
    color: var(--color-main);            
    box-shadow: 0 0 20px #eee;
}

.button-highlight:hover {
    background-position: right center;
    color: var(--color-main);
     
    
    /* background-color: #FFF;
    border-color: var(--color-highlight); */
}

.button-outline-highlight {
    background: transparent;
    color: #FFF;
    border-color: #CCCCCC;
}

.button-outline-highlight:hover {
    color: var(--color-main);
    /* background: var(--color-highlight); */
    background-image: linear-gradient(to right, var(--color-highlight) 51%, #e6dfd8  100%);
}

@media (max-width: 1668.98px) {
    .section1 {
        background-image: url(https://topnguoinoitieng.com/storage/images/EzhB1BoyaN_1628614324.jpg);
        padding: 30vh 0 20vh 40px;
        background-size: cover;
        background-attachment: local;
        position: relative;
        background-repeat: no-repeat;
    }
}

@media (max-width: 1199.98px) {
    .section1 {
        background-size: cover;
        background-attachment: local;
        position: relative;
        background-repeat: no-repeat;
    }
}


@media (max-width: 991.98px) {
    .section1 {
        background-size: cover;
        background-position: center;
        background-attachment: local;
        position: relative;
        background-repeat: no-repeat;
    }
}

@media (max-width: 767.98px) {
    .section1__button {
        display: block;
    }

    .section1__desc {
        margin-bottom: 20px;
        color: #FFF;
    }

    .button {
        margin-bottom: 20px;
        font-size: 16px;
    }
}

/* End Section 1 */

/* section2 */
.section2 {
    padding: 80px 0;
    background: var(--bg-1);
}

.section2__wrap {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.section2__image {
    width: 45%;
    border-radius: 12px;
    overflow: hidden;
}

.section2__image img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.section2__content {
    width: 50%;
    margin-left: 4%;
}

.section2__sub-title {
    margin: 0;
    margin-bottom: 30px;
    font-size: 22px;
    color: var(--color-text);
}

.section2__title {
    font-size: 64px;
    font-weight: 700;
    color: var(--color-main);
    margin-bottom: 20px;
}

.section2__list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.section2__item {
    display: inline-flex;
    flex-direction: column;
    width: 140px;
    height: 140px;
    justify-content: center;
    align-items: center;
    margin-right: 16px;
    border-radius: 12px;
    background: #FFF;
}

.section2__icon {
    font-size: 42px;
    color: var(--color-highlight);
    margin-bottom: 4px;
}

.section2__item span {
    font-size: 22px;
    color: var(--color-main);
}

.section2__desc {
    color: var(--color-text);
    font-weight: 500;
    margin-bottom: 30px;
}

.button-readmore {
    border: 2px solid;
    color: var(--color-main);
    filter: drop-shadow(0.10em 0.10em 0.1em var(--color-highlight));
}

@media (max-width: 1199.98px) {
    .section2 {
        padding: 80px 20px;
    }
}

@media (max-width: 991.98px) {
    .section2 {
        padding: 80px 40px;
    }

    .section2__content {
        text-align: center;
    }

    .section2__title {
        font-size: 54px;
    }

    .section2__list {
        justify-content: center;
    }

    .section2__item {
        margin-top: 20px;
    }
}

@media (max-width: 767.98px) {
    .section2 {
        padding: 80px 40px;
    }

    .section2__image {
        width: 100%;
    }

    .section2__content {
        margin-left: 0;
        margin-top: 40px;
        width: 100%;
        text-align: center;
    }

    .section2__list {
        justify-content: center;
    }

    .section2__item {
        margin-top: 20px;
    }
}

@media (max-width: 575.98px) {
    .section2__title {
        font-size: 36px;
    }

    .button {
        margin-bottom: 0;
    }
}
/* End section2 */

/* Section 3 */
.section3 {
    background: var(--bg-1);
    padding: 80px 0;
}

.section3__wrap {
    display: flex;
    flex-wrap: wrap;
    background: #FFF;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    overflow: hidden;
}

.section3__content {
    width: 45%;
    padding: 45px;
    margin-right: 10%;
}

.section3__title {
    font-size: 64px;
    font-weight: 700;
    color: var(--color-main);
}

.section3__desc {
    font-size: 16px;
    margin-bottom: 40px;
    color: var(--color-text);
}

.section3__image {
    width: 30%;
}

.section3__image img {
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    overflow: hidden;
    object-fit: cover;
    margin-top: -60px;
    margin-bottom: -5px;
    filter: grayscale(10%);
}

@media (max-width: 991.98px) {
    .section3 {
        padding: 80px 40px;
    }

    .section3__title {
        font-size: 54px;
    }

    .section3__image img {
        margin-top: 0;
        border-radius: 0;
    }
}

@media (max-width:767.98px) {
    .section3 {
        text-align: center;
    }

    .section3__content {
        width: 100%;
        margin-right: 0;
    }

    .section3__image {
        width: 100%;
        text-align: center;
    }
}
/* End Section 3 */

/* Section 4 */
.section4 {
    padding: 80px 0;
    background-color: #FFF;
}

.section4__title {
    font-size: 28px;
    font-weight: 700;
    color: var(--color-main);
    margin-bottom: 30px;
}

.section4__desc {
    font-size: 18px;
    color: var(--color-text);
    margin-bottom: 30px;
}

.section4__icon {
    font-size: 24px;
    color: var(--color-highlight);
    
    text-align: center;
}

.section4__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.section4__keyword {
    display: flex;
    align-items: center;
    font-size: 24px;
    color: var(--color-text);
}

.section4__keyword span {
    margin-left: 4px;
}

@media (max-width: 991.98px) {
    .section4 {
        padding: 80px 40px;
    }
}

/* End Section 4 */

/* Section 5 */
.section5 {
    padding: 80px;
    background-color: var(--bg-1);
}

.section5 h2 {
    position: relative;
    margin-bottom: 40px;
    font-size: 46px;
    text-align: center;
    color: var(--color-main);    
}

/* .section5 h2::before {
    content: "";
    width: 20%;
    height: 2px;
    bottom: 5%;
    left: 40%;
    position: absolute;
    background-color: var(--color-text);
    filter: drop-shadow(0.0em 0.4em 0.10em red);
} */

.section5__wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.section5__box {
    /* width: 40vh; */
    height: 700;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px, rgb(51, 51, 51) 0px 0px 0px 3px;
}

.section5__image {
    width: 100%;
    height: 450px;
    margin-bottom: 10px;
}

.section5__image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.section5__content {
    padding: 15px 20px;
    background-color: #FFF;
}

.section5__title {
    font-size: 24px;
    font-weight: 600;
}

@media (max-width: 991.98px) {
    .section5 {
        padding: 80px 40px;
    }

    .section5__wrap {
        align-items: center;
        justify-content: center;
    }

    .section5__box {
        margin: 0 20px 20px 20px;
        width: 35vw
    }
}

@media (max-width: 767.98px) {
    .section5__wrap {
        justify-content: center;
    }

    .section5__box {
        margin: 0 20px 20px 20px;
    }
}

@media (max-width: 575.98px) {
    .section5__box {
        margin: 0 20px 20px 20px;
        width: 60vw
    }
}
/* End Section 5 */

/* Section 6 */
.section6 {
    padding: 60px;
    background-image: url(https://4kwallpapers.com/images/walls/thumbs_3t/8324.png);
    background-repeat: no-repeat;
    background-size: cover;
    
}

.section6__wrap {
    text-align: center;
}

.section6__wrap img {
    border-radius: 50%;
    width: 120px;
    object-fit: cover;
}

.section6__desc {
    margin-top: 10px ;
    font-size: 24px;
    color: var(--color-text);
}
/* End Section 6 */